/vendor/
node_modules/
public/build/
public/hot

.env
.env.*
!.env.example

.phpunit.result.cache

/storage/*.key
/storage/pail
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*

.idea/
.vscode/

.DS_Store
Thumbs.db

Homestead.json
Homestead.yaml
npm-debug.log
yarn-debug.log
yarn-error.log